pre code,
code.annotated {
    display:block;
    overflow-x:auto;
    padding:1em;
    color: #ddd;
    background: #19110f;
    margin-bottom: 2.5rem;

    .spot {
        padding: 2px 4px;
        border-radius: 5px;

        &.red {
            background: #ae392c;

            &.contrast {
                color: #ffd9cc;
            }
        }

        &.purple {
            background: #c15e8a;

            &.contrast {
                color: #ffdefa;
            }
        }

        &.orange {
            background: #cc8666;

            &.contrast {
                color: #4c0600;
            }
        }

        &.yellow {
            background: #fac891;

            &.contrast {
                color: #7a5811;
            }
        }
    }

    .dots {
        color: #666;
        font-style: italic;
    }
}

ul, p {
    code {
        background: #ffeae7;
        font-size: 1rem;
        padding: 2px 4px;
        color: #ae392c;
        border-radius: 3px;
    }
}

a code {
    border-bottom: 1px dashed;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.hljs-keyword,
.hljs-link,
.hljs-section,
.hljs-selector-tag{
    color: #d57259;
}

.hljs-addition,
.hljs-attribute,
.hljs-built_in,
.hljs-bullet,
.hljs-name,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type {
    color: #e5e5e5;
}

.hljs-number {
    color: #ae392c;
}

.hljs-string {
    color: #d87b9e;
}

.hljs-literal {
    color: #dc9676;
}

.hljs-meta {
    color: #C15E8A;
}

.hljs-variable {
    color: #fac891;
}

.hljs-comment {
    color: #847a78;
    font-style: italic;
}

.hljs-deletion,
.hljs-quote{
    color: #bbb;
}

.hljs-doctag,
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-strong,
.hljs-title,
.hljs-type{
    font-weight: 400;
}

.hljs-emphasis{
    font-style: italic;
}
