pre code {
    display:block;
    overflow-x:auto;
    padding:1em;
    color: #ddd;
    background: #111;
}

ul, p {
    code {
        padding: 1px 0.3rem;
        border-radius: 0.2rem;
        border: 1px solid #e5e5e5;
        background: #f0f0f0;
        font-size: 1rem;
    }
}

.hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag{
    color: #fff;
}

.hljs-addition,
.hljs-attribute,
.hljs-built_in,
.hljs-bullet,
.hljs-name,
.hljs-string,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-variable{
    color: #aaa;
}

.hljs-comment {
    color: #666;
    font-style: italic;
}

.hljs-deletion,
.hljs-meta,
.hljs-quote{
    color: #bbb;
}

.hljs-doctag,
.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-strong,
.hljs-title,
.hljs-type{
    font-weight: 700;
}

.hljs-emphasis{
    font-style: italic;
}
