$max-width: 800px;

html, body {
    overflow-x: hidden;
}

main {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
}

aside {
    padding: 3rem 2rem;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}

article {
    flex-grow: 1;

    & > div {
        max-width: $max-width;
        margin: 0 auto;
        padding: 0 1rem;
    }
}

footer {
    padding: 2rem;
    text-align: center;
}

.mobile {
    display: block;
}
header.mobile {
    display: flex;
}

.desktop {
    display: none;
}

@media (min-width: 1280px) {
    main {
        flex-direction: row;
    }

    aside {
        width: 16rem;
        margin: 0;
    }

    .mobile {
        display: none !important;
    }

    .desktop {
        display: block;
    }
}
